{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<h2>All products</h2>

{% for product in products %}
    {% include "@Ecommerce/components/card/product.html.twig" with {
        product: product
    } only %}
{% endfor %}

{% endblock %}
